$base-color-white: #f5faec;
$base-color-blue-light: #94a2eb;
$base-color-blue: #5869b3;
$base-color-blue-dark: #2a3b89;
$base-color-red: #c51236;

// ORGANISMS HEADER
$header-background-color: $base-color-red;
$header-text-color: $base-color-white;