@font-face {
    font-family: 'Knewave Regular';
    src: local('Knewave Regular'),
        url("../../assets/fonts/Knewave/Knewave-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto Slab Regular';
    src: local('Roboto Slab Regular'),
        url("../../assets/fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto Slab Light';
    src: local('Roboto Slab Light'),
        url("../../assets/fonts/Roboto_Slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto Slab Bold';
    src: local('Roboto Slab Bold'),
        url("../../assets/fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto Slab Black';
    src: local('Roboto Slab Black'),
        url("../../assets/fonts/Roboto_Slab/RobotoSlab-Black.ttf") format("truetype");
}