@import './vendors';
@import './variables';
@import './mixins';

html {
  font-size: 10px;
}

body {
  @include typo-body;
  background-color: $base-color-white;
  color: $base-color-red;
  margin: 0;
}

h1 {
  @include typo-h1;
}